/* Start fonts */
@font-face {
    font-family: Chomsky;
    src: url(/static/fonts/chomsky.woff2);
}

.chomsky {
    font-family: Chomsky;
}

.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Shobhika;
    src: url(/static/fonts/shobhika-regular.otf) format("opentype");
}

@font-face {
    font-family: Shobhika;
    font-weight: bold;
    src: url(/static/fonts/shobhika-bold.otf) format("opentype");
}


/* End fonts */

body {
    margin: 0 8%;
    font-family: Shobhika;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: 4px double #000;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    margin: 1em;
    display: flex;
    align-items: center;
}

/* CSS */
.button-1 {
    vertical-align: middle;
    background-color: rgb(86, 123, 148);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  a {
    color: white;
  }
}

.button-1:hover,
.button-1:focus {
  background-color: rgb(152, 184, 206);
}

.nav-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-mid h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 100;
}

ul.nav-list {
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    align-items: center;
    justify-content: center;
    li {
        display: inline;
        margin: 0 1.4em;
        height: 1em;
        line-height: 1em;
    }
}

.nav-bottom .nav-list {
    margin-bottom: 0.8em;
}

/* Страница входа */

.login-form {
    max-width: fit-content;
    margin: 5rem auto;
}

.login-form form {
    display: flex;
    flex-direction: column;
}