/* Start fonts */
@font-face {
    font-family: Chomsky;
    src: url(/static/fonts/chomsky.woff2);
}

.chomsky {
    font-family: Chomsky;
}

.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Shobhika;
    src: url(/static/fonts/shobhika-regular.otf) format("opentype");
}

@font-face {
    font-family: Shobhika;
    font-weight: bold;
    src: url(/static/fonts/shobhika-bold.otf) format("opentype");
}


/* End fonts */

body {
    width: 1200px;
    margin: auto;
    font-family: Shobhika;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #636363;
}

.logo {
    a:hover {
        color: #000;
    }
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: 4px double #000;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    margin: 1em;
    display: flex;
    align-items: center;
}

.account, .user-corner {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.button-1 {
    vertical-align: middle;
    background-color: rgb(86, 123, 148);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  a {
    color: white;
  }
}

a.button-1:hover {
    color: white;
}

.button-1:hover,
.button-1:focus {
  background-color: rgb(152, 184, 206);
}

.nav-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-mid h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 100;
}

ul.nav-list {
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    align-items: center;
    justify-content: center;
    li {
        display: inline;
        margin: 0 1.4em;
        height: 1em;
        line-height: 1em;
    }
}

.nav-bottom .nav-list {
    margin-bottom: 0.8em;
}

/* Главная страница, лента статей */

.content-feed {

}

.article-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 830px;
    gap: 30px;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.text-preview {
    h1 {
        font-size: 1.2em;
        line-height: 1.1875em;
    }
    p {
        line-height: 1.1875em;
        font-weight: 300;
    }
}

.preview-cover {
    max-height: 380px;
    overflow: hidden;

}

.preview-cover img {
    width: 520px;
    height: 100%;
    object-fit: cover;
}

img {
    width: 100%;
}

/* Статья */
article {
    width: 945px;
    overflow-wrap: break-word;
    margin: auto;
    margin-bottom: 150px;
    h1 {
        font-size: 40px;
        line-height: 46px;
    }
    p {
        font-size: 20px;
        line-height: 30px;
    }

    .publishing-date {
        font-size: 15px;
        color: #636363;
    }

    img {
        margin: 1em 0 3em 0;
    }
}

.article-head, .article-content {
    width: 600px;
    margin: auto;
}

/* Страница входа */

#login-form, #registration-form, #publishing-form {
    max-width: fit-content;
    margin: 5rem auto;
}

form {
    display: flex;
    flex-direction: column;
}